.header {
    font-family: "Work Sans", sans-serif;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    transition: 0.2s linear;
    box-shadow: 0px 1px 6px 0px #bba9a9;
    background: white;
    padding: 10px 0;
}

.header.animate {
    transform: translateY(-100px);
}

.header .logo {
    width: 120px;
}

.header .navbar-brand {
    padding: 0;
}

.header .navbar {
    padding: 0.5rem 0;
}

.header .navbar .navbar-nav {
    margin-right: auto;
    margin-left: auto;
}

.header .navbar .navbar-nav .nav-item {
    position: relative;
    margin-left: 7px;
    margin-right: 7px;
}

.header .navbar .navbar-nav .nav-item .nav-link {
    cursor: pointer;
    font-size: 18px;
    color: black;
}

.header .navbar .navbar-nav .nav-item .nav-link.icon {
    margin-top: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 1;
}

.header .navbar .navbar-nav .nav-item .nav-link.icon:hover {
    background: #c5bfbf;
}

.header .navbar .navbar-nav .nav-item .nav-link.selectedLink {
    color: #00cb54;
}

.header .navbar .navbar-nav .nav-item.cart .count {
    position: absolute;
    top: 8px;
    right: 0px;
    padding: 3px;
    border-radius: 50%;
    background: #e91414;
    color: white;
    font-size: 10px;
    width: 12px;
    height: 13px;
    line-height: 0.8;
}

.header .navbar .navbar-nav .nav-item.cart .giohang {
    transform: translateY(30px);
    overflow-y: scroll;
    width: 350px;
    z-index: 7;
    visibility: hidden;
    opacity: 0;
    left: -154px;
    position: absolute;
    top: 36px;
    background: white;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.header .navbar .navbar-nav .nav-item.cart .giohang .item {
    text-align: left;
    padding: 15px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.header .navbar .navbar-nav .nav-item.cart .giohang .item:hover {
    background: #e8e8e8;
    transition: 0.3s;
    cursor: pointer;
}

.header .navbar .navbar-nav .nav-item.cart .giohang .item .media {
    width: 90%;
}

.header .navbar .navbar-nav .nav-item.cart .giohang .item .media .media-body {
    padding-left: 15px;
}

.header .navbar .navbar-nav .nav-item.cart .giohang .item .media .media-body .name-course {
    color: gray;
}

.header .navbar .navbar-nav .nav-item.cart .giohang .item .media .img {
    width: 69px;
    height: 69px;
}

.header .navbar .navbar-nav .nav-item.cart .giohang .sum {
    text-align: center;
}

.header .navbar .navbar-nav .nav-item.cart .giohang .buttons {
    display: flex;
    width: 73%;
    justify-content: space-around;
    margin: auto;
}

.header .navbar .navbar-nav .nav-item.cart .giohang .buttons .btn-view-cart .btn-123, .header .navbar .navbar-nav .nav-item.cart .giohang .buttons .btn-checkout .btn-123 {
    transform: translateX(0);
}

.header .navbar .navbar-nav .nav-item.cart .giohang .buttons .btn-view-cart:hover, .header .navbar .navbar-nav .nav-item.cart .giohang .buttons .btn-checkout:hover {
    text-decoration: none;
}

.header .navbar .navbar-nav .nav-item.cart .giohang .buttons .btn-view-cart .btn-123 .btn-6 span {
    background-color: #00cb54;
}

.header .navbar .navbar-nav .nav-item.cart .giohang .buttons .btn-checkout .btn-123 .btn-6 span {
    background-color: #73abff;
}

.header .navbar .navbar-nav .nav-item.cart:hover .giohang {
    min-height: 100px;
    max-height: 400px;
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    transform: translateY(0px);
}

.header .navbar .navbar-nav .nav-item.login {
    position: relative;
}

.header .navbar .navbar-nav .nav-item.login .user {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #686f7a;
    border-radius: 50%;
    width: 39px;
    height: 39px;
}

.header .navbar .navbar-nav .nav-item.login .user .user-icon {
    font-size: 13px;
    color: white;
    padding: 10px;
    line-height: 1;
}

.header .navbar .navbar-nav .nav-item.login .user-info {
    position: absolute;
    transition: 0.3s;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background: white;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 1px 4px 1px #797575;
    width: 300px;
}

.header .navbar .navbar-nav .nav-item.login .user-info .user-email {
    display: flex;
    justify-content: flex-start;
    padding: 15px 25px;
}

.header .navbar .navbar-nav .nav-item.login .user-info .item {
    padding: 12px 25px;
    cursor: pointer;
}

.header .navbar .navbar-nav .nav-item.login .user-info .item.profile {
    color: #29303b;
    display: block;
}

.header .navbar .navbar-nav .nav-item.login .user-info .item.profile:hover {
    color: #007791;
    text-decoration: none;
}

.header .navbar .navbar-nav .nav-item.login .user-info .item.his {
    color: #29303b;
    display: block;
}

.header .navbar .navbar-nav .nav-item.login .user-info .item.his:hover {
    color: #007791;
    text-decoration: none;
}

.header .navbar .navbar-nav .nav-item.login .user-info .item:hover {
    background: #f2f3f5;
    transition: 0.3s;
    color: #007791;
}

.header .navbar .navbar-nav .nav-item.login .user-info .item .icon {
    display: inline-block;
    margin-right: 10px;
    width: 20px;
}

.header .navbar .navbar-nav .nav-item.login:hover .user-info {
    opacity: 1;
    transition: 0.3s;
    visibility: visible;
}

.header .sign_in .btn-123 .btn-6 {
    left: 130px;
    z-index: 20;
}

.header .sign_up .btn-123 .btn-6 {
    left: 120px;
    z-index: 20;
}
.end-header{
	margin-bottom: 78px;
}